@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.content {
    position: relative;
    overflow: hidden;
}

.block-1 {
    position: relative;
    z-index: 70;
    width: 100%;
    min-height: 994px;
}
@media (max-height: 900px) {
  .block-1 {
      min-height: 900px;
  }
}
@media (max-height: 800px) and (min-width: 1000px){
  .block-1 {
    min-height: 800px;
  }
}
@media (max-height: 768px) and (min-width: 1000px) {
  .block-1 {
     min-height: 768px;
  }
}




.media {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
