.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  top: 62px;
  left: 23px;
  padding: 0;
  width: 24px;
  height: 24px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background .1s;
  -webkit-transition: background .1s;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  right: 0;
  height: 2px;
  background: #ebc071;
  transition: background 0s .1s;
  -webkit-transition: background 0s .1s;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ebc071;
  content: "";
  transition-duration: .1s,.1s;
  -webkit-transition-duration: .1s,.1s;
  transition-delay: .1s,0s;
  -webkit-transition-delay: .1s,0s;
}

.c-hamburger span::before {
  top: -8px;
  transition-property: top, transform;
  -webkit-transition-property: top, transform;
}
.c-hamburger span::after {
  bottom: -8px;
  transition-property: bottom, transform;
  -webkit-transition-property: bottom, transform;
}

.c-hamburger.is-active span {
  background: none;
}
.c-hamburger.is-active span::before,
.c-hamburger.is-active span::after {
  transition-delay: 0s,.1s;
  -webkit-transition-delay: 0s,.1s;
}
.c-hamburger.is-active span::before {
  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.c-hamburger.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.mobile-navbar {
  position: relative;
  height: 105px;
  margin-top: -15px;
  margin-bottom: -5px;
  text-align: center;
  z-index: 999;
}
.mobile-logo {
  position: absolute;
  top:55px;
  left: 50%;
  margin-left: -80px;
  display: block;
}
.company-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.62em;
  font-family: OptimusPrincepsSemiBold;
  vertical-align: middle;
  color: #ebc071;
}
.sharebar {
  position: absolute;
  top: 10px;
  left: 16px;
}
