/* font-family: "BenguiatGothicC-Book"; */
@font-face {
    font-family: "BenguiatGothicC-Book";
    src: url('../fonts/BenguiatGothicC-Book/BenguiatGothicC-Book.eot');
    src: url("../fonts/BenguiatGothicC-Book/BenguiatGothicC-Book.ttf") format("truetype"),
    url('../fonts/BenguiatGothicC-Book/BenguiatGothicC-Book.svg') format('svg');;
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Blacksword"; */
@font-face {
    font-family: "Blacksword";
    src: url('../fonts/Blacksword/Blacksword.eot');
    src: url("../fonts/Blacksword/Blacksword.ttf") format("truetype"),
    url('../fonts/Blacksword/Blacksword.svg') format('svg');;
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Drugs"; */
@font-face {
    font-family: "Drugs";
    src: url("../fonts/Drugs/Drugs.ttf") format("truetype"),
    url('../fonts/Drugs/Drugs.svg') format('svg');;
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OptimusPrincepsSemiBold"; */
@font-face {
    font-family: "OptimusPrincepsSemiBold";
    src: url("../fonts/OptimusPrincepsSemiBold/OptimusPrincepsSemiBold.ttf") format("truetype"),
    url('../fonts/OptimusPrincepsSemiBold/OptimusPrincepsSemiBold.svg') format('svg');;
    font-style: normal;
    font-weight: normal;
}
