.list {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.item {
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
}

.vk { background: url(../vk.png); }
.fb { background: url(../fb.png); }
.odk { background: url(../odk.png); }
.tw { background: url(../tw.png); }
.instagram { background: url(../instagram.png); }
